<template>
  <div class="about">
    <h1>This is an about page</h1>
    <textarea v-model="code"></textarea>
    <br>
    <button @click="test">Compile</button>
    <br>
    <textarea id="output" v-model="output" readonly="true"></textarea>
  </div>
</template>

<script>
import { sendTest } from '@/utils/axios.js'

export default {
  data() {
    return {
      code: '',
      output: 'debug'
    }
  },
  methods: {
    test() {
      console.log(this.code);
      sendTest(this.code)
      .then(res => {
        console.log(res);
        this.output = res.output
      })
    }
  },
}
</script>

<style scoped>
textarea {
  width: 90%;
  height: 150px;
}
</style>
